<div class="jumbotron">
    <h1>User Enrollment</h1>
</div>

<div class="form-group">
    <label for="usr">Name:</label>
    <input type="text" class="form-control" id="usr">
</div>
<div class="form-group">
    <label for="usr">UserId:</label>
    <input type="text" class="form-control" id="usrId">
</div>
<div class="form-group">
    <label for="pwd">Password:</label>
    <input type="password" class="form-control" id="pwd">
</div>
<div class="form-group">
    <label for="pwd">Record Voice:</label>
    <button id="recordButton">Record</button>
    <button id="pauseButton" disabled>Pause</button>
    <button id="stopButton" disabled>Stop</button>
    <div id="formats">Format: start recording to see sample rate</div>
    <ol id="recordingsList"></ol>
</div>

<div>
    <button type="button" class="btn btn-success">Submit Enrollment</button>
</div>
<script src="https://cdn.rawgit.com/mattdiamond/Recorderjs/08e7abd9/dist/recorder.js"></script>
<script src="~/Scripts/app.js"></script>
