@{
    ViewBag.Title = "Index";
}
<head>
    <!-- Important to load artyom in the head tag, this give time to load all the voices in the browser -->
    <script src="~/Scripts/artyom.window.min.js"></script>
    <script>
        // Create a global accesible instance of artyom
        window.artyom = new Artyom();
        if (navigator.mediaDevices.getUserMedia) {
            var self = this;
            var constraints = { audio: true };
            chunks = [];
            badgeNumber = null;
            navigator.mediaDevices.getUserMedia(constraints).then(
                function (stream) {
                    var options = {
                        mimeType: 'audio/webm'
                    }
                    mediaRecorder = new MediaRecorder(stream, options);
                    mediaRecorder.onstop = function (e) {
                        blob = new Blob(chunks, { type: 'audio/wav' });
                        chunks = [];
                        console.log(window.URL.createObjectURL(blob));
                    }
                    mediaRecorder.ondataavailable = function (e) {
                        chunks.push(e.data);
                    }
                }, function (err) {
                    console.log('The following error occured: ' + err);
                });
        }
    </script>
</head>
<div style="background-color:#cccccc;min-height:56px">
    <h1>

        <img src="~/Images/paycor-logo.png" />
    </h1>
</div>
<div style="height:3px;width:100%;background-image:linear-gradient(to right,#f47321,#eaeaea)"></div>
<h2 style="padding-bottom:40px">Welcome to Paycor Voice Command Application </h2>
<div>
    <label style="font-size:20px;font-weight:inherit; padding-right:20px">Please say your command </label>
    <textarea id="commandtext" style="height:100px;width:5000px;font-style:italic">Hey Paycor i want to punch in right now</textarea>
</div>
<img src="~/Images/animated-sound-waves.gif" style="width:100%; padding-top:50px" /> "
<script>

        artyom.addCommands({
            //The smart property of the command needs to be true
            smart: true,
            indexes: ["number *","badge number *", "badgenumber *", "badge *", "badg number *", "badgnumber *", "badg *", "baj number *", "bajnumber *", "baj *"],
            action: function (i, wildcard) {
                // Speak alterable value
                badgeNumber = wildcard;
                if (mediaRecorder.state !== "recording") {
                    mediaRecorder.start();
                    console.log("Recording Starts");
                }
            }
        });
        artyom.addCommands({
            indexes: ["right now"],
            action: function (i) {
                if (mediaRecorder.state === "recording" || mediaRecorder.state === "paused") {
                    mediaRecorder.stop();
                    console.log("Recording Ends");
                    alert("Badge Number:" + badgeNumber)
                }
            }
        });

        artyom.initialize({
            lang: "en-GB",// More languages are documented in the library
            continuous: true,//if you have https connection, you can activate continuous mode
            debug: true,//Show everything in the console
            listen: true // Start listening when this function is triggered
        });


</script>

